#
# abfall - convert ICS format trash calendar into a single Excel sheet
# Copyright (C) 2011-2024 Thomas Jensen
#
# This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
# License, version 3, as published by the Free Software Foundation.
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
# warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
# You should have received a copy of the GNU General Public License along with this program. If not, see
# <https://www.gnu.org/licenses/>.
#

*    text=auto
*.bat text eol=crlf
*.sh text eol=lf

/gradlew linguist-vendored
/gradlew.bat linguist-vendored
/gradle/wrapper/ linguist-vendored
